<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
      <div class="col" *ngIf="userAdded">
        <h4> User Added Succesfully </h4>
      </div>
      <div class="col" *ngIf="userEdited">
        <h4> User Edited Succesfully </h4>
      </div>
    </div>
    <div class="below-search">
    </div>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Phone</th>
          <th scope="col">Fax</th>
          <th scope="col">Job Title</th>
          <th scope="col">Organization</th>
          <th scope="col">Category</th>
          <th scope="col">Subcategroy 1</th>
          <th scope="col">Subcategroy 2</th>
          <th scope="col">Core</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients; let i = index" (mouseenter)="setIndex(hoverIndex = i)" (mouseleave)="clearIndex()" [ngClass]="{'selected-element': hoverIndex == i}" (click)="goToDetails()">
          <th scope="col">{{ i + 1 }}</th>
          <th scope="col">{{ client.title }}</th>
          <th scope="col">{{ client.name }}</th>
          <th scope="col">{{ client.email }}</th>
          <th scope="col">{{ client.mobile }}</th>
          <th scope="col">{{ client.phone }}</th>
          <th scope="col">{{ client.fax }}</th>
          <th scope="col">{{ client.job_title }}</th>
          <th scope="col">{{ client.organization }}</th>
          <th scope="col">{{ client.category }}</th>
          <th scope="col">{{ client.subcategory[0] }}</th>
          <th scope="col">{{ client.subcategory[1] }}</th>
          <th scope="col" *ngIf="client.core">yes</th>
          <th scope="col" *ngIf="!client.core">no</th>
          <th scope="col">{{ client.address }}</th>
        </tr>
      </tbody>
    </table>
  </div>
    <button type="button" class="btn btn-primary offset-4" [disabled]="pageNumber == 1" (click)="previousPage()"> << </button>
    <button type="button" class="btn offset-1" [routerLink]="['form']"> Add Client </button>
    <button type="button" class="btn btn-primary offset-1" [disabled]="!hasMorePages" (click)="nextPage()"> >> </button>
  <div>
