<div class="row">
  <div class="offset-3 inputForm">
    <form [formGroup]="csvForm">
      <div class="form-group">
        <label for="inputCategory">Category</label>
        <input type="text" class="form-control" id="inputCategory" placeholder="Enter category" formControlName = "category">
      </div>
      <div class="form-group">
        <label for="inputSubCategory">Subcategory</label>
        <input type="text" class="form-control" id="inputSubCategory" placeholder="Enter subcategory" formControlName = "subcategory">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="inputCore" formControlName = "core">
        <label class="form-check-label" for="inputCore">Core</label>
      </div>
      <div class="offset-3">
      <button type="button" class="btn btn-primary" [disabled] = "!csvForm.valid" (click)="downloadFile()"> Download File </button>
      </div>
    </form>
  </div>
</div>
