<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row" *ngIf="!clientsQueried || (clientsQueried && clientSelected)">
    <div class="col">
      <div class="p-3">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col">
              <label for="inputTitle">Title</label>
              <input type="text" class="form-control" id="inputTitle" aria-describedby="emailHelp" placeholder="Enter title" formControlName="title">
            </div>
            <div class="form-group col">
              <label for="inputJobTitle">Job Title</label>
              <input type="text" class="form-control" id="inputJobTitle" placeholder="Enter job title" formControlName="jobtitle">
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label for="inputName">Name</label>
              <input type="text" class="form-control" id="inputName" placeholder="Enter name" formControlName="name">
            </div>
            <div class="form-group col">
              <label for="inputOrganization">Organization</label>
              <input type="text" class="form-control" id="inputOrganization" placeholder="Enter organization" formControlName="organization">
            </div>
          </div>
            <div class="row">
              <div class="form-group col">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Enter email" formControlName="email">
              </div>
              <div class="form-group col">
                <label for="inputCategory">Category</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputCategory" placeholder="Select category" formControlName="category" aria-describedby="addon" readonly>
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary" id="addon" (click)="selectMainCategory('main')" data-toggle="modal" data-target="#exampleModal">...</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="inputMobile">Mobile</label>
                <input type="text" class="form-control" id="inputMobile" placeholder="Enter mobile" formControlName="mobile">
              </div>
              <div class="form-group col">
                <label for="inputSubCategory">Sub Category 1</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputSubCategory" placeholder="Select subcategory" formControlName="subcategory1" aria-describedby="addon" readonly>
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary" id="addon" (click)="selectSubCategory('sub1', '1')" data-toggle="modal" data-target="#exampleModal">...</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="inputPhone">Phone</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="Enter phone" formControlName="phone">
              </div>
              <div class="form-group col">
                <label for="inputSubCategory">Sub Category 2</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputSubCategory" placeholder="Select subcategory" formControlName="subcategory2" aria-describedby="addon" readonly>
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary" id="addon" (click)="selectSubCategory('sub2', '2')" data-toggle="modal" data-target="#exampleModal">...</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="inputFax">Fax</label>
                <input type="text" class="form-control" id="inputFax" placeholder="Enter fax" formControlName="fax">
              </div>
              <div class="form-check col mt-4">
                <div class="mt-3">
                  <label for="inputCore">Core:</label>
                  <input type="checkbox" class="form-check-input ml-4 mt-2" id="inputCore" formControlName="core">
                </div>
              </div>
            </div>
          <div class="row">
            <div class="offset-5">
              <button type="button" class="btn btn-primary" *ngIf="!clientsQueried" (click)="queryClients()"> Query</button>
              <button type="Submit" class="btn btn-primary" *ngIf="clientsQueried">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="clientsQueried && !clientSelected">
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Phone</th>
          <th scope="col">Fax</th>
          <th scope="col">Job Title</th>
          <th scope="col">Organization</th>
          <th scope="col">Category</th>
          <th scope="col">Subcategroy 1</th>
          <th scope="col">Subcategroy 2</th>
          <th scope="col">Core</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients; let i = index" (mouseenter)="setIndex(hoverIndex = i)" (mouseleave)="clearIndex()" [ngClass]="{'selected-element': hoverIndex == i}" (click)="goToDetails()">
          <th scope="col">{{ i + 1 }}</th>
          <th scope="col">{{ client.title }}</th>
          <th scope="col">{{ client.name }}</th>
          <th scope="col">{{ client.email }}</th>
          <th scope="col">{{ client.mobile }}</th>
          <th scope="col">{{ client.phone }}</th>
          <th scope="col">{{ client.fax }}</th>
          <th scope="col">{{ client.job_title }}</th>
          <th scope="col">{{ client.organization }}</th>
          <th scope="col">{{ client.category }}</th>
          <th scope="col">{{ client.subcategory[0] }}</th>
          <th scope="col">{{ client.subcategory[1] }}</th>
          <th scope="col" *ngIf="client.core">yes</th>
          <th scope="col" *ngIf="!client.core">no</th>
        </tr>
      </tbody>
    </table>
  </div>
    <button type="button" class="btn btn-primary offset-4" [disabled]="pageNumber == 1" (click)="previousPage()"> << </button>
    <button type="button" class="btn btn-primary offset-1" [disabled]="!hasMorePages" (click)="nextPage()"> >> </button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div *ngIf="mainCategorySelect">
            <div class="form-group row">
              <div *ngFor="let category of categories; let i = index" class="form-check col-6 categorydivs">
                <input [(ngModel)]="categoryValueRadio" class="form-check-input" type="radio" name="categories" id="exampleRadios{{i}}" value="{{category}}">
                <label class="form-check-label" for="exampleRadios{{i}}">
              {{category}}
            </label>
              </div>
            </div>
          </div>
          <div *ngIf="!mainCategorySelect">
            <div class="form-group row">
              <div *ngFor="let category of categories; let i = index" class="form-check col-3 categorydivs">
                <input [(ngModel)]="categoryValueRadio" class="form-check-input" type="radio" name="categories" id="exampleRadios{{i}}" value="{{category}}">
                <label class="form-check-label" for="exampleRadios{{i}}">
              {{category}}
            </label>
              </div>
            </div>
          </div>

        </div>
        <div class="form-group form-inline" *ngIf="clientsQueried">
          <label for="inputCat"> Add New: </label>
          <input [(ngModel)]="categoryValue" type="text" id="inputCat" class="form-control ml-1">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="setCategoryValue()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
